* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Optima;
}

#bgVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* behind everything */
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(11.mp4);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-top: 20px;
}

.navbar {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.icon {
    width: 250px;
}

.logo {
    color: #ff7200;
    font-size: 35px;
    padding-top: 10px;
}

.menu {
    flex: 1;
    margin-left: 50px;
    padding-top: 15px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 60px;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-size: 17px;
}

.menu ul li a:hover {
    color: #ff7200;
    font-size: 19px;
    font-weight: bold;
}

.menu ul li a.active {
    color: #ff7200;
    font-size: 19px;
    font-weight: bold;
}

@media screen and (max-width: 1200px) {
    .navbar {
        width: auto;
    }
    .content {
        width: 100%;
    }
    
    .menu ul {
        gap: 30px;
    }
    
    .form {
        position: static;
        margin: 20px auto;
    }
}

.fade-out {
    position: relative;
    animation: fadeOutBlack 0.3s forwards ease-in-out;
}

@keyframes fadeOutBlack {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1.05);
    }
}

.fade-out::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    animation: overlayFade 0.3s forwards;
    z-index: 9999;
}

@keyframes overlayFade {
    from { opacity: 0; }
    to { opacity: 1; }
}